<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/favicon-16x16.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/lib/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/static/css/estilos.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <title> {% block subtitulo %}{% endblock %}</title>
</head>
<body class="d-flex flex-column min-vh-100">
    {% include "includes/header.html" %}
    <main class="flex-grow-1">
        <div class="">
            <!-- <div class="container">
                <div class="row">
                    <div class="col-12"> -->
                        {% block topo %}{% endblock %}
                    <!-- </div>
                </div>
            </div> -->
        </div>
        <div class="">
            {% block conteudo %}{% endblock %}
        </div>
    </main>
    {% include "includes/footer.html" %}
    <script src="/static/lib/bootstrap/bootstrap.bundle.min.js"></script>
</body>

</html>