<footer class="container-fluid bg-gray pt-5 mt-4">
  <div class="col d-flex justify-content-center">
    <div class="d-flex flex-column flex-sm-row-reverse justify-content-center align-items-center w-100">
      <div class="col d-flex justify-content-center mt-3 mt-sm-0">
        <a href="/" class="d-flex flex-column align-items-center text-decoration-none">
          <img src="/static/img/logo.svg" alt="Logo Imobil">
          <h1 class="mb-1 font-weight-bold text-primary">Imobi</h1>
        </a>
      </div>
      <div class="col d-flex justify-content-center gap-4">
        <a href="/cadastro" class="text-primary text-decoration-none">Cadastre-se</a>
        <a href="#" class="text-primary text-decoration-none">Sobre</a>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-12 text-center mt-2">
        <div class="border-top pt-4">
          <p class="text-secondary">Corretora de Imóveis Imobi &reg; Copyright &copy; 2024 Todos os direitos reservados.</p>
        </div>
      </div>
    </div>
</footer>