<footer class="container-fluid bg-gray pt-5 mt-4">
    <div class="d-flex justify-content-center">
        <div class="d-flex w-50 align-items-center justify-content-between">
          <div class="d-flex justify-content-center gap-4">
            <a href="/cadastro" class="text-primary text-decoration-none">Cadastre-se</a>
            <a href="#" class="text-primary text-decoration-none">Sobre</a>
          </div>
          <a href="/" class="d-flex flex-column align-items-center text-decoration-none">
            <img src="/static/img/logo.svg" alt="Logo Imobil">
            <h1 class="mb-1 font-weight-bold text-primary">Imobi</h1>
          </a>
        </div>
      </div>
    <div class="row">
      <div class="col-12 text-center mt-2">
        <div class="border-top pt-4">
          <p class="text-secondary">Corretora de Imóveis Imobil &reg; Copyright &copy; 2024 Todos os direitos reservados.</p>
        </div>
      </div>
    </div>
</footer>