<nav class="navbar p-3 navbar-expand-lg d-flex flex-row align-items-start justify-content-start gap-4 text-left text-base text-body font-open-sans">
    <div class="container">
        <a class="navbar-brand me-5" href="/">
            <img class="img-fluid" src="/static/img/logo.svg">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuPrincipal">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% set pagina_atual = request.url.path %}
        <div class="collapse navbar-collapse" id="menuPrincipal">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if pagina_atual == '/' }}" href="/">Principal</a>
                </li>
                {% if pessoa and pessoa.nome %}
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if pagina_atual == '/imoveis' }}" href="/imoveis">Meus Imóveis</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if pagina_atual == '/sobre' }}">Sobre</a>
                </li>
            </ul>
            {% if pessoa and pessoa.nome %}
            <ul class="navbar-nav">
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" id="perfilDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Olá, <b>{{ pessoa.nome }}</b>!
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end border-0" aria-labelledby="perfilDropdown">
                        <li><a class="dropdown-item {{ 'active' if pagina_atual == '/imoveis' }}" href="/imoveis">Meus Imóveis</a></li>
                        <li><a class="dropdown-item {{ 'active' if pagina_atual == '/cadastro_imovel' }}" href="/cadastro_imovel">Cadastrar Imovel</a></li>
                        <li><a class="dropdown-item  {{ 'active' if pagina_atual == '/perfil' }}" href="/perfil">Meu Perfil</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/sair">Sair</a></li>
                    </ul>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="btn btn-primary px-5 btn-no-hover" href="/entrar">Login</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>