<div class="row row-cols-1 justify-content-start justify-content-md-center justify-content-lg-start row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 gap-3 mt-4">
    {% for i in imoveis %}
    <div class="col card">
        <div class="d-flex justify-content-center align-items-center mt-3" style="height: 200px;width: 100%; overflow: hidden;">
            <a href="/imovel/{{i.id}}">
                <img src="{{i.imagem_principal}}" class="img-fluid">
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{i.titulo}}</h5>
            <p class="card-text texto-3-linhas">{{i.descricao}}</p>
            <div class="d-flex justify-content-center">
                <div class="rating d-flex align-items-center mt-3 gap-3">
                    <div class="d-flex justify-content-center align-items-center" title="Quantidade de quartos">
                        <img src="../../../static/img/quarto-icon.svg" alt="Quarto" class="img-fluid">
                        <span class="ms-1 fs-6 fs-sm-5">{{i.quartos}}</span> 
                    </div>
                    <div class="d-flex justify-content-center align-items-center ms-2" title="Quantidade de banheiros">
                        <img src="../../../static/img/chuveiro-icon.svg" alt="Banheiro" class="img-fluid">
                        <span class="ms-1 fs-6 fs-sm-5">{{i.banheiros}}</span>
                    </div>
                    <div class="d-flex justify-content-center align-items-center" title="Área">
                        <img src="../../../static/img/icon-area.svg" alt="Área" class="img-fluid" style="max-width: 35px; max-height: 35px;">
                        <span class="ms-1 fs-6">{{i.area}}</span> 
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column align-items-center mt-2">
                <div class="price text-success">
                    <p class="fs-4 fs-md-4">R$ {{"{:,.2f}".format(i.preco)}}</p>
                </div>
                <a href="/imovel/{{i.id}}" class="btn btn-primary w-100">Verificar</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>