<div class="row row-cols-1 mt-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-6 g-3 mb-3">
    {% for i in imoveis %}
    <div class="col card">
        <a href="/imovel/{{i.id}}">
            <img src="{{i.imagem}}" class="card-img-top mt-2">
        </a>
        <div class="card-body">
            <h5 class="card-title">{{i.titulo}}</h5>
            <p class="card-text  texto-3-linhas">{{i.descricao}}</p>
            <div class="rating d-flex align-items-center mt-3">
                <div class="d-flex justify-content-center align-items-center" style="width: 38px; height: 38px;"title="Quantidade de quartos">
                    <img src="../../../static/img/quarto-icon.svg" alt="Quarto" style="width: 24px; height: 24px;">
                    <span>{{i.quartos}}</span>
                </div>
                <div class="d-flex justify-content-center align-items-center ms-2" style="width: 38px; height: 38px;"
                    title="Quantidade de banheiros">
                    <img src="../../../static/img/chuveiro-icon.svg" alt="Banheiro" style="width: 24px; height: 24px;">
                </div>
                <!-- <div class="bg-warning rounded-circle d-flex justify-content-center align-items-center ms-2" style="width: 38px; height: 38px;" title="Picina">
                        <img src="static/img/piscina.svg" alt="Piscina" style="width: 24px; height: 24px;">
                        <span>{{i.piscina}}</span>
                    </div> -->
                <div class="d-flex justify-content-center align-items-center ms-3" style="width: 38px; height: 38px;"
                    title="Área">
                    <img src="../../../static/img/icon-area.svg" alt="Área" style="width: 35px; height: 35px;">
                    <span>{{i.area}}</span>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <div class="price text-success">
                    <h5 class="mt-4">R$ {{"{:,.2f}".format(i.preco)}}</h5>
                </div>
                <a href="/imovel/{{i.id}}" class="btn btn-primary mt-auto">Verificar</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>