<div class="row">
  <div class="col-md-8 d-flex flex-column align-items-start justify-content-start mt-xl-5">
    <div class="mb-3">
      <h1 class="display-4">Imobi Corretora de Imóveis</h1>
      <p>A Imobil Corretora de Imóveis é uma vitrine virtual dedicada a apresentar uma seleção de imóveis disponíveis
      </p>
    </div>
    <div class="d-xl-flex center col-12 col-lg-8 col-xl-7 p-3 transparent-bg">
      <form class="input-group mb-3" role="search" action="/buscar" method="get">
        <input type="search" class="form-control rounded-1 border-1" placeholder="Buscar Local" name="q" required>
        <button class="btn btn-dark text-light px-2" type="submit">
          <i class="bi bi-search"></i>
        </button>
      </form>
    </div>
  </div>
  <div class="col-md-4 d-none d-md-block">
    <img src="/static/img/imagem-topo.png" class="img-fluid" alt="">
  </div>
</div>