:root {
    --bs-primary: #091638 !important;
    --bs-danger: #1C3988 !important; 
    --bs-light: #F3F3FA !important; 
    --bs-gray: #eeedde !important; 
    --bs-dark: #141B2D !important;
    --bs-white: #ffffff !important; 
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

.bg-primary {
    background-color: var(--bs-primary) !important;
}

.bg-danger {
    background-color: var(--bs-danger) !important;
}

.bg-light {
    background-color: var(--bs-light) !important;
}

.bg-gray {
    background-color: var(--bs-gray) !important;
}

.bg-dark {
    background-color: var(--bs-dark) !important;
}

.bg-white {
    background-color: var(--bs-white) !important;
}

.btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.btn-danger {
    background-color: var(--bs-danger);
    border-color: var(--bs-danger);
}

.btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.transparent-bg {
    background-color: rgba(255, 255, 255, 0.89); /* Ajuste a opacidade conforme necessário */
}

.page-link {
    color: var(--bs-danger);
    background-color: var(--bs-white);
    border: 1px solid var(--bs-danger);
}

.page-link:hover {
    color: var(--bs-dark);
    background-color: var(--bs-light);
    border: 1px solid var(--bs-danger);
}

.page-link.active,
.page-link.active:hover {
    background-color: var(--bs-danger);
    border-color: var(--bs-danger);
    color: var(--bs-white);
}

.table td,
.table th {
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
}

.texto-3-linhas {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.texto-1-linha {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text-primary {
    color: var(--bs-primary) !important;
}

.text-danger {
    color: var(--bs-danger) !important;
}

.text-light {
    color: var(--bs-light) !important;
}

.text-dark {
    color: var(--bs-dark) !important;
}

.text-white {
    color: var(--bs-white) !important;
}

.h1-topo {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}