{% extends "pages/base.html" %}
{% block subtitulo %}Sobre Nós{% endblock %}
{% block conteudo %}
<!-- <div class="position-relative bg-primary text-white text-center p-5">
  <img src="/static/img/sobre.png" class="img-fluid position-absolute w-100 h-100" style="object-fit: cover; top: 0; left: 0;" alt="">
  <div class="position-absolute w-100 h-100 d-flex justify-content-center align-items-center">
    <div>
      <h1 class="display-1">SOBRE NÓS</h1>
    </div>
  </div>
</div> -->
{% endblock %}