{% extends "pages/base.html" %}
{% block subtitulo %}Perfil{% endblock %}
{% block conteudo %}
<div class="container">
    <h1 class="display-5"><b>Meu Perfil</b></h1>
    <hr>
    <form class="row json-form" action="/alterar_perfil" method="post" enctype="multipart/form-data">
        <div class="text-center">
            <div class="position-relative">
                <img id="foto-perfil" onclick="document.getElementById('imagem').click();" src="{% if pessoa.imagem_perfil %}{{ pessoa.imagem_perfil }}{% else %}/static/img/imagem-perfil.png{% endif %}" alt="Foto de Perfil" class="rounded-circle border border-secondary mb-5" style="width: 150px; height: 150px; object-fit: cover; cursor: pointer;">
                <input type="file" id="imagem" name="imagem" class="d-none" accept="image/*" onchange="previewImagem(event)">
            </div>
        </div>
        <div class="col-9 mx-auto">
            <div class="form-floating mb-3">
                <input type="text" name="nome" class="form-control" id="nome" placeholder=" " value="{{ pessoa.nome }}" required>
                <label for="nome">Nome Completo</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="cpf" name="cpf" data-mask="cpf" placeholder=" " value="{{ pessoa.cpf }}">
                <label for="cpf">CPF</label>
            </div>
            <div class="form-floating mb-3">
                <input type="date" name="data_nascimento" class="form-control" id="dataNascimento" placeholder=" " value="{{ pessoa.data_nascimento }}" required>
                <label for="dataNascimento">Data de Nascimento</label>
            </div>
            <div class="form-floating mb-3">
                <textarea id="endereco" name="endereco" class="form-control" style="height: 120px" placeholder=" " required>{{ pessoa.endereco }}</textarea>
                <label for="endereco">Endereço</label>
            </div>
            <div class="form-floating mb-3">
                <textarea id="descricao" name="descricao" class="form-control" style="height: 120px" placeholder=" ">{{ pessoa.descricao if pessoa.descricao is not none else '' }}</textarea>
                <label for="descricao">Descrição</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" name="email" class="form-control" id="email" placeholder=" " value="{{ pessoa.email }}" required>
                <label for="email">E-mail</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="telefone" name="telefone" data-mask="telefone" placeholder=" " value="{{ pessoa.telefone }}" required>
                <label for="telefone">Telefone</label>
            </div>
            <div class="text-end col-sm-12">
                <button class="col-md-3 col-12  btn btn-dark btn-lg" type="submit">Alterar</button>
            </div>
        </div>
    </form>  
    <div class="col-9 mt-4 mx-auto">
        <h2 class="json-form mt-4">Trocar Senha</h2>
        <hr>
        <form class="row json-form" method="post" action="/trocar_senha" id="trocarSenhaForm">
            <div class="row">
                <div class="col-md-3">
                    <label for="senhaAtual" class="form-label">Senha Atual</label>
                    <input type="password" class="form-control" id="senhaAtual" name="senha_atual" required="">
                </div>
                <div class="col-md-3">
                    <label for="novaSenha" class="form-label">Nova Senha</label>
                    <input type="password" class="form-control" id="novaSenha" name="nova_senha" required="">
                </div>
                <div class="col-md-3">
                    <label for="confirmarNovaSenha" class="form-label">Confirmar</label>
                    <input type="password" class="form-control" id="confirmarNovaSenha" name="confirmar_nova_senha" required="">
                </div>
                <div class="col-md-3 d-flex align-items-end mt-2">
                    <button class="btn btn-dark btn-lg w-100" type="submit">Alterar</button>
                </div>
            </div>
        </form>
    </div>
    <div id="errorModal" class="modal fade" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorModalLabel">Erro</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="errorMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/image-form.js"></script>
<script src="/static/js/form.js"></script>
<script src="/static/js/inputMasks.js"></script>
{% endblock %}
